<article data-pseudo-id="<%=pseudo.id%>">
        <img src="/uploads/<%=pseudo.image%>" width=50 height=50 />
              <p><%=pseudo.name%></p>
                    <p><%=pseudo.body%></p>
                        </article>
